.layout {
    height: auto;
    overflow-x: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.homePage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    height: 95vh;
    margin-left: auto;
    display: flex;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.tableleft {
    position: fixed;
    left: 0;
    min-width: 40%;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Set height to 100% of the viewport */
}


.tableRight {
    position: fixed;
    right: 0;
}

.tableleft th, .tableleft td {
    width: 150px;
    padding: 10px;
    text-wrap: nowrap;
    height: 24.5px;
    background-color: aqua;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.tableleft tr {
    border-bottom: 1px solid #ddd;
}

.table th, .table td {
    width: 150px;
    min-width: 150px;
    height: 40px;
    padding: 10px;
    background-color: rgb(180, 165, 165);
    border: 1px solid #ddd;
}

.table table {
    margin-left: 60%;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.tableRight th, .tableRight td {
    width: 100px;
    height: 40px;
    padding: 10px;
    text-wrap: nowrap;
    background-color: rgb(247, 9, 29);
    border: 1px solid #ddd;
}

.tableRight td {
    background-color: rgb(196, 188, 189);
}

.tableRight button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
}

.tableRight button img {
    display: inline-block;
}
